#app {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.tree-node.root {
  margin-left: 26px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-danger:focus,
.btn-success:focus {
  box-shadow: none;
}
